/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ddd;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Form Styles */
form {
    margin: 0 auto;
    max-width: 400px;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="file"] {
    width: calc(100% - 24px);
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
    box-sizing: border-box;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="password"]:focus,
form input[type="file"]:focus {
    border-color: #333;
    outline: none;
}

form button {
    width: 100%;
    padding: 12px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #333333ac;
}

/* Additional Styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card h3 {
    margin-top: 0;
}

/* Flash message styles */
#flash-message {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
    text-align: center;
}
#flash-message.success {
    background-color: #1c661f;
    color: white;
}
#flash-message.error {
    background-color: #f44336;
    color: white;
}

.flash {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    text-align: center;
    display: none; /* Initially hidden */
}

.flash.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.flash.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.flash.show {
    display: block; /* Show the message */
}

/* Button Styles */
/* Edit Profile Button Styles */
.btn {
    font-size: 13px; /* Adjust the value as needed */
    text-decoration: none;
    display: inline-block;
    padding: 12px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #333333bc;
}

/* Delete Button Styles */
.delete-btn {
    padding: 12px 20px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-btn:hover {
    background-color: #890916;
}

.btn-download{
    text-decoration: none;
    display: inline-block;
    padding: 12px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 13px; /* Adjust the value as needed */
}

.btn-download:hover{
    background-color: #333333bc;
}

.search-container {
    display: flex;
}

/* Search Bar Styles */
.search-bar {
    display: flex;
    align-items: center;
    padding: 2rem;
}

.search-bar form {
    display: flex;
}

.search-bar input[type="text"] {
    padding: 0.5rem;
    width: 400px; /* Adjust this width as needed */
}

/* Comment Button Styles */
.comment-btn {
    padding: 12px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.comment-btn:hover {
    background-color: #333333bc;
}

/* Profile Picture Styles */
.profile-picture img {
    width: 125px; /* Adjust the size as needed */
    height: 125px; /* Adjust the size as needed */
    border-radius: 50%;
    border: 2px solid #333; /* Add a border around the profile picture */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

/* Profile Details Styles */
.profile-details {
    margin-left: 20px; /* Add some space between the profile picture and details */
}

.profile-details p {
    margin-bottom: 15px; /* Add some space between each detail */
}


